{% extends 'base.html.twig' %}

{% block title %}Objects index{% endblock %}

{% block body %}
    <h1>Objects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.Type }}</td>
                <td>{{ object.Name }}</td>
                <td>
                <!-- ici placer le prendre -->
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
