{% extends 'base.html.twig' %}

{% block title %}Objects index{% endblock %}

{% block body %}
    <h1>Objects index</h1>
<a href="/show"><button class="btn btn-primary">Acceder à vos objets</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.Type }}</td>
                <td>{{ object.Name }}</td>
                <td>
                <a href="/take/{{object.id}}"><button class="btn btn-primary">Prendre cet objet</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
